
/*** CSS for Brittany Portfolio **/

body {
    margin: 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    background-repeat: repeat;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
  }

.contentcontainer {
    width: 960px;
    margin-right: auto;
    margin-left: auto;
   
}

a:hover { 
    color:#4aaaa5;
}

img {
    float: left;
    
}
h1, h2, h3 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h2:after
{
    content:' ';
    display:block;
    border:2px solid #ccc;
}

h3:after
{
    content:' ';
    display:block;
    border:1px solid #ccc;
}

a, p {
    text-decoration: none;
    color: #777777;
}
  
/*** Header CSS **/


header {
    margin-bottom: 20px;
    padding: 20px 0px 0px 0px;
    background: #ffffff;
    width: 100%;
    border-bottom: 2px solid #cccccc;
    
    
  }

#logo {
    color: #ffffff;
    padding: 20px;
    margin-bottom: 0%;
    background: #4aaaa5;
    float: left;
    position: relative;

}

#navigation {
    float: right;
    position: relative;
    padding: 20px;
    right: 50px;

}

/*** Content **/

textbody {
    
}

#maincontent {
    width: 610px;
    float: left;
    background: #fff;
    padding:20px;
    

}

#sidebar {
    padding: 5px 15px 25px 15px;
    width: 240px;
    float: right;
    background: #fff;
    

}


/*** Footer **/

footer {
    padding: 20px 0px 0px 0px;
    margin-top: 20px;
    position: absolute;
    height: 150px;
    border-top: 5px solid #4aaaa5;
    background: #666666;
    text-align: center;
    color: #ccc;
    right: 0%;
    left: 0%;
    width: 100%;
  
  }
